*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2C2C2C;
}

/*Container Setup*/
.container{
    display: grid;
    /* grid-template-rows: 1fr 10fr 1fr; */
    grid-template-areas:
    "header"
    "main"
    "footer";
    overflow: hidden;
}

.header{grid-area: header; background-color: #2C2C2C; color: #FAE1DF; width: 100vw;}
.main{grid-area: main; background-color: #2C2C2C; color: #FAE1DF; width: 100vw; min-height: 100vh;}
.footer{grid-area: footer; background-color: #2C2C2C; color: #FAE1DF; width: 100vw;}


/*Header Styling*/
.header, .head, .nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    position: fixed;
    justify-content: space-between;
    padding: 20px;
}

.head{
    gap: 100px;
}

.nav ul{
    gap: 75px;
    padding-right: 30px;
}

.nav ul,li,a{
    list-style-type: none;
    text-decoration: none;
    color: #FAE1DF;
}

li{
    font-size: 1.5em;
}

/*Main Styling*/
.main{
    margin-top: 100px;
}

.main a{
    text-decoration: underline;
}

/*Footer Styling*/
.footer{
    text-align: center;
    padding: 20px;
}

/*Hover Styling*/
.hover{
    position: relative;
    top: 0;
    transition: 0.5s;
}

.hover:hover{
    transform: scale(1.10);
}

/*Responsive*/
@media only screen and (max-width:768px){
    .header, .head, .nav ul{
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        gap: 20px;
    }

    .header{
        position: static;
    }

    .nav ul{
        margin-top: 10px;
        padding-left: 25px;
    }

    .main{
        margin-top: 300px;
    }
}